<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Scripts.Render("~/bundles/modernizr")

    <!-- Bootstrap core CSS -->
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Assets/css/style.css" rel="stylesheet" />

    <link href="~/Assets/css/bootstrap-posts-css.css" rel="stylesheet" />
</head>
<body>
    

    <!---header---->
    <div class="header" style="border-bottom:solid; border-bottom-width:1px; color:lightgray">
        <div class="container">
            <div class="logo">
                <a href="@Url.Action("Index", "Home")"><img src="~/Assets/images/logo.jpg" title="Blog Logo" /></a>
            </div>



            <!---start-top-nav---->
            <div class="top-menu">



                @using (Html.BeginForm("Index", "Posts", FormMethod.Post))
                { 
                    <div>
                        <input name="searchStr" type="text" placeholder="Search" value="@ViewBag.Search" />
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                }



                <span class="menu"> </span>
                <ul>
                    <li class="active">@Html.ActionLink("HOME", "Index", "Home")</li>
                    <li>@Html.ActionLink("ABOUT", "About", "Home")</li>
                    <li>@Html.ActionLink("CONTACT", "Contact", "Home")</li>
                    @if (User.IsInRole("Admin"))
                    {
                    <li>@Html.ActionLink("ADMIN", "Index", "Posts")</li>
                    }
                    <li>@Html.Partial("_LoginPartial")</li>

                </ul>
            </div>

            <div class="clearfix"></div>
            <!---//End-top-nav---->
        </div>
    </div>
    <!--/header-->




    <div class="container">
        @RenderBody()
    </div>
        
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; 2018 Steven Zamorano | Blog. All rights reserved.</p>
        </div>
        <!-- /.container -->
    </footer>
    


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
                    $("span.menu").click(function () {
                        $(".top-menu ul").slideToggle("slow", function () {
                        });
                    });
    </script>
    @RenderSection("scripts", required: false)





</body>
</html>
